body{
  background-color: aqua;
}

.aTeam {
  width: 100%;
  background-color: red;
  margin: 0.3rem;
  text-align: center;
}

.printTeamNum{
  font-size: 3.5em;
  background-color: orchid;
}

.teamInnerContainer{
  background-color: blue;
  padding: 2rem;
  display: flex;
  flex-wrap:wrap;
  margin: 0.5rem;
}
.singleEmployee {
  margin: 2rem;
  width: 15rem;
}

.managerDiv {
  background-color: yellow;
}

.engineerDiv{
  background-color: blueviolet;
}

.internDiv {
  background-color: orange;
}
